@{
    ViewData["Title"] = "Psiog Tracks";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To</h1>
        <h2>PSIOG Tracks</h2>
        <br /> <br /> <br />
        <div class="text-center">
            <h5>Supported By</h5>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Media/aws.png" alt="AWS" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="~/Media/jenkins.png" style="height:30%" alt="Jenkins" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="~/Media/netcore.png" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
